@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.container-card {
  width: 100%;
  display: flex;
  max-width: 1500px;
  margin: auto;
  padding-top: 10px;
}
.container-card .card {
  width: 100%;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease-out;
  cursor: default;
}
.container-card .card .contenido-card {
  padding: 15px;
  text-align: center;
}
.container-card .card .contenido-card h3 {
  margin-bottom: 15px;
  color: #7a7a7a;
}
.container-card .card .contenido-card p {
  line-height: 1.8;
  color: #6a6a6a;
  font-size: 14px;
  margin-bottom: 5px;
}
.container-card .card .contenido-card a {
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  text-decoration: none;
  color: black;
  border: 1px solid rgb(152, 103, 53);
  border-radius: 4px;
  transition: all 400ms ease;
  margin-bottom: 5px;
}
.container-card .card .contenido-card a:hover {
  background: rgb(152, 103, 53);
  color: #fff;
}
.container-card .card img {
  width: 100%;
  height: 260px;
}
.container-card .card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}

.objetivo__general .objetivo__general__foto1 {
  height: none;
  width: 250px;
  border-radius: 500px;
  float: left;
}
.objetivo__general .objetivo__general__foto2 {
  height: none;
  width: 300px;
  border-radius: 10px;
  float: right;
}
.objetivo__general .objetivo__general__foto3 {
  height: none;
  width: 250px;
  float: left;
  border-radius: 150px;
}
.objetivo__general .objetivo__general__parrafo1 {
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
}
.objetivo__general .objetivo__general__parrafo2 {
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
}
.objetivo__general .objetivo__general__parrafo3 {
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.form .form__inicial {
  background: rgb(235, 224, 198);
  width: 90%;
  max-width: 650px;
  margin: auto;
  padding: 5px 35px;
  margin-top: 30px;
  padding-bottom: 30px;
  border-radius: 3px;
}
.form .form__inicial .form__contacto .form__contacto__titulo {
  font-weight: normal;
  text-align: center;
  padding: 14px 0;
  font-family: "Poppins", sans-serif;
}
.form .form__inicial .form__contacto .form__contacto__titulo span {
  color: #fff;
}
.form .form__inicial .form__label {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 1em;
}
.form .form__inicial .form__input {
  background-color: rgba(235, 228, 220, 0.7);
  border: none;
  outline: none;
  border-bottom: 2px solid #7a5535;
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 2px;
  font-size: 1em;
  color: rgb(0, 0, 0);
}
.form .form__inicial .form__mensaje {
  background-color: rgba(235, 228, 220, 0.7);
  border: none;
  outline: none;
  border-bottom: 2px solid #7a5535;
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 2px;
  font-size: 1em;
  color: rgb(0, 0, 0);
  font-family: "Poppins", sans-serif;
  resize: vertical;
  max-height: 150px;
  min-height: 50px;
}
.form .form__inicial .form__enviar {
  width: 100%;
  font-family: "Poppins", sans-serif;
  outline: none;
  background: rgb(235, 224, 198);
  font-size: 1em;
  border: none;
  border-radius: 3px;
  color: rgb(255, 255, 255);
  padding: 15px 0;
  cursor: pointer;
}
.form .form__inicial .form__enviar:hover {
  background-color: rgb(152, 103, 53);
  transition: 0.5s;
  color: white;
}

h1 {
  color: white;
  display: flex;
  flex-direction: row;
  align-content: stretch;
  justify-content: center;
  margin-top: 11px;
}

.preguntas-frecuentes {
  padding: 20px;
  margin: 21px;
  background-color: #fff;
  border-radius: 10px;
}

.pie-pagina {
  width: 100%;
  background-color: #9d6534;
  margin-top: 80px;
}
.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
  color: white;
}
.pie-pagina .grupo-1 .redes-sociales {
  display: flex;
  flex-direction: row;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(224, 212, 193);
}

/* INICIO */
ul {
  list-style: none;
  flex-direction: row;
}
ul li {
  padding: 5px;
}
ul li a {
  text-decoration: none;
  color: white;
  padding: 5px;
  border-radius: 3px;
}
ul li a:hover {
  transition: 0.5s;
  color: black;
  background-color: white;
}

section {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: space-around;
}
section .imagenesInicio {
  width: 400px;
  margin: 0 auto;
  margin-top: 10px;
  border: 10px white solid;
}

@media (max-width: 320px) {
  .imagenesInicio {
    width: 300px;
  }
}
@media (max-width: 500px) {
  .sobre-nosotros {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
  }
  .redes-sociales {
    display: flex;
    flex-direction: row;
  }
  .titulo-redes {
    padding-top: 16px;
  }
  .form {
    margin-right: 50px;
    margin-left: 25px;
  }
  .objetivo .objetivo__general .div__foto1 {
    display: flex;
    justify-content: center;
  }
  .objetivo .objetivo__general .div__foto1 .objetivo__general__foto1 {
    float: none;
  }
  .objetivo .objetivo__general .div__parrafo1 .objetivo__general__parrafo1 {
    text-align: center;
  }
  .objetivo .objetivo__general .div__foto2 {
    display: flex;
    justify-content: center;
  }
  .objetivo .objetivo__general .div__foto2 .objetivo__general__foto2 {
    float: none;
  }
  .objetivo .objetivo__general .div__parrafo2 .objetivo__general__parrafo2 {
    text-align: center;
  }
  .objetivo .objetivo__general .div__foto3 {
    display: flex;
    justify-content: center;
  }
  .objetivo .objetivo__general .div__foto3 .objetivo__general__foto3 {
    float: none;
  }
  .objetivo .objetivo__general .div__parrafo3 .objetivo__general__parrafo3 {
    text-align: center;
  }
  .container-card .card {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }
  .container-card img {
    height: 150px;
  }
}
@media (max-width: 768px) {
  .container-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 375px;
    justify-content: center;
    align-content: center;
  }
  .sobre-nosotros {
    padding-left: 50px;
  }
}
@media (max-width: 1024px) {
  .imagenes {
    display: flex;
    flex-direction: column;
    flex-direction: row;
    align-items: stretch;
  }
  .container-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .container-card .card {
    width: 300px;
  }
  .sobre-nosotros {
    padding-left: 50px;
  }
}/*# sourceMappingURL=styles.css.map */