.objetivo__general {
      .objetivo__general__foto1{ 
        grid-area: objetivo__general__foto1;
        width: 250px;
        border-radius: 500px;
      }

      .objetivo__general__foto2 { 
        grid-area: objetivo__general__foto2;
        width: 300px;
        border-radius: 10px;
      }

      .objetivo__general__parrafo1{ 
        grid-area: objetivo__general__parrafo1;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
      }

      .objetivo__general__parrafo2 { 
        grid-area: objetivo__general__parrafo2;
        padding: 10px;
      }
    }