.objetivo__general {
      .objetivo__general__foto1{ 
        width: 250px;
        border-radius: 500px;
        float: left;
      }

      .objetivo__general__foto2 { 
        width: 300px;
        border-radius: 10px;
        float: right;
      }

      .objetivo__general__parrafo1{ 
        padding: 50px;
        display: flex;
        flex-wrap: wrap;
      }

      .objetivo__general__parrafo2 { 
        padding: 50px;
        display: flex;
        flex-wrap: wrap;
      }

      .objetivo__general__foto3{
        float: left;
        border-radius: 150px;
        width: 250px;
      }

      .objetivo__general__parrafo3{
        padding: 23px;
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
      }
    }