h1{
    color: white;
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: center;
    margin-top: 11px;
}
.preguntas-frecuentes{
    padding: 20px;
    margin: 21px;
    background-color: #fff;
    border-radius: 10px;
}
