@import "productos";
@import "objetivos";
@import "contacto";
@import "preguntas";
@import "footer";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(224, 212, 193);
}

/* INICIO */

ul{
    list-style: none;
    flex-direction: row;
    li{
        padding: 5px;
        a{
            text-decoration: none;
            color: white;
            padding: 5px;
            border-radius: 3px;
            &:hover{
                transition: 0.5s;
                color: black;
                background-color: white;
            }
        }
    }
}
  
section{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
    .imagenesInicio{
        width: 400px;
        margin: 0 auto;
        margin-top: 10px;
        border: 10px white solid;
    }
}


@media(max-width: 500px){
    .sobre-nosotros{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 20px;
    }
    .redes-sociales{
        display: flex;
        flex-direction: row;
    }
    .titulo-redes{
        padding-top: 16px;
    }
    .productos{
        display: flex;
        flex-wrap: wrap;
    }
    .form{
        margin-right: 50px;
        margin-left: 25px;
    }
    .objetivo__general{
        .objetivo__general__foto1{
            float: none;
            margin-left: 57px;
        }
        .objetivo__general__foto2{
            float: none;
            margin-left: 46px;
        }
        .objetivo__general__foto3{
            float: none;
            margin-left: 57px;
        }
    }
}

@media(max-width: 768px){
    .grupo-1{
        .box{
            padding: 20px;
        }
    }
    .productos{
        .card{
            padding: 1px;
        }
    }
}