@import "productos";
@import "objetivos";
@import "contacto";
@import "preguntas";
@import "footer";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(224, 212, 193);
}

/* INICIO */

ul{
    list-style: none;
    flex-direction: row;
    li{
        padding: 5px;
        a{
            text-decoration: none;
            color: white;
            padding: 5px;
            border-radius: 3px;
            &:hover{
                transition: 0.5s;
                color: black;
                background-color: white;
            }
        }
    }
}

section{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
    .imagenesInicio{
        width: 400px;
        margin: 0 auto;
        margin-top: 10px;
        border: 10px white solid;
    }
}

@media(max-width: 320px){
    .imagenesInicio{
        width: 300px;
    }
}

@media(max-width: 500px){
    .sobre-nosotros{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 20px;
    }

    .redes-sociales{
        display: flex;
        flex-direction: row;
    }

    .titulo-redes{
        padding-top: 16px;
    }

    .form{
        margin-right: 50px;
        margin-left: 25px;
    }
    .objetivo{
        .objetivo__general{
            .div__foto1{
                display: flex;
                justify-content: center;
                .objetivo__general__foto1{
                    float: none;
                }
            }

            .div__parrafo1{
                .objetivo__general__parrafo1{
                    text-align: center;
                }
            }

            .div__foto2{
                display: flex;
                justify-content: center;
                .objetivo__general__foto2{
                    float: none;
                }
            }

            .div__parrafo2{
                .objetivo__general__parrafo2{
                    text-align: center;
                }
            }

            .div__foto3{
                display: flex;
                justify-content: center;
                .objetivo__general__foto3{
                    float: none;
                }
            }

            .div__parrafo3{
                .objetivo__general__parrafo3{
                    text-align: center;
                }
            }
        }
    }
    .container-card{
        .card{
            width: 350px;
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: nowrap;
        }
        img{
            height: 150px;
        }
	}
}

@media(max-width: 768px){
    .container-card{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 375px;
        justify-content: center;
        align-content: center;
    }
    .sobre-nosotros{
        padding-left: 50px;
    }
}

@media(max-width: 1024px){
    .imagenes{
        display: flex;
        flex-direction: column;
        flex-direction: row;
        align-items: stretch;
    }
    .container-card{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .card{
            width: 300px;
        }
    }
    .sobre-nosotros{
        padding-left: 50px;
    }
}

